// wifi
#define SECRET_SSID "wifi network"
#define SECRET_PASS "pass"

// mqtt
#define SECRET_MQTT_PORT 1883
#define SECRET_MQTT_USER "device"
#define SECRET_MQTT_PASS "device"
#define SECRET_MQTT_TOPIC "mqtt.topic"
#define SECRET_MQTT_CLIENT_ID "yout-client-id"

// mqtt server
#define SECRET_SERVER_IP_OCTET_1 192
#define SECRET_SERVER_IP_OCTET_2 168
#define SECRET_SERVER_IP_OCTET_3 1
#define SECRET_SERVER_IP_OCTET_4 1

// data
#define SECRET_TITLE "Best title"
